html {
  box-sizing: border-box;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (min-width: 400px) {
  html {
    font-size: 16px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 80vh;
  line-height: 1.3;
  padding: 1rem;
}

.wrapper {
  background: #fff;
  border-radius: .5rem;
  border-top: 25px solid #C62828;
  box-shadow: 0 2px 3px rgba(0,0,0,.05), 0 10px 30px rgba(0,0,0,.05);
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 400px) {
  .wrapper {
    padding: 3rem;
  }
}


h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
}


@media (min-width: 400px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.02em;
}


@media (min-width: 400px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  color: #666;
  font-size: .85rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: .5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

a {
  color: #C62828;
}

main > * + * {
  margin-top: 1em;
}

.ingress {
  font-size: 1.1rem;
}

@media (min-width: 400px) {
  .ingress {
    font-size: 1.25rem;
  }
}

.details {
  border-left: 2px solid #C62828;
  margin: 1.5rem 0;
  padding: 0.5rem 0 .5rem 1.5rem;
}

.details > * + * {

  margin-top: 1em;
}

.details li + li {
  margin-top: 1rem;
}

hr {
  background: #eee;
  border: none;
  height: 1px;
  margin: 2rem 0;
}

.ps {
  font-size: .85rem;
}

.prev-lunches {
  font-variant-numeric: tabular-nums;
  list-style-type: disc;
  padding-left: 1rem;
}

.prev-lunches strong {
  min-width: 10em;
}

@media (min-width: 500px) {
  .flockler-grid-items[data-container-width=">=0"] .flockler-grid-item {
    width: calc(1 / 2 * 100%) !important;
  }

  .flockler-grid-item__text {
    font-size: 0.8rem !important;
  }
}
